<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-card class="content-form">

  <br />
  <h1 class="textTitle text-center">UserData</h1>
  <br />
  <br />
  <table *ngIf="!edit" mat-table [dataSource]="dataSource">

    <!-- UserName Column -->
    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef> UserName </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>



    <!-- country Column -->
    <ng-container matColumnDef="Country">
      <th mat-header-cell *matHeaderCellDef> country </th>
      <td mat-cell *matCellDef="let element"> {{element.country.name}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> edit </th>
      <td mat-cell *matCellDef="let element"> <button (click)="editUser(element)" mat-raised-button color="primary">Edit
          description</button> </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="edit">

    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>UserName</mat-label>
          <input matInput maxlength="50" [(ngModel)]="user.userName" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Pais</mat-label>
          <mat-select [(ngModel)]="user.country.name">
            <mat-option *ngFor="let country of countrys" [value]="country.id">{{country.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea [(ngModel)]="user.description" matInput></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</mat-card>